{% load static %}

<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>GadgetFreak</title>
	<link rel="stylesheet" type="text/css" href="{% static 'webPage/stil.css' %}" />
	<!--<script src="script.js"></script>-->
</head>	

<body>
	<header>
	<div class="bigBanner centered-content">
		{% block login %}
		
		{% endblock %}
		<div class="prijavaUporabnika">
		{% if user.is_authenticated %}
		<span>Prijavljen kot {{ user.username }}.
			<a href="{% url 'logout' %}">Odjava</a>
		</span>
		{% endif %}
		</div>
		<div class="setLogo"><img src="{% static 'webPage/slike/LogoGF.JPG' %}" alt="logoPic"></div>
	</div>
	</header>
	
	<div class="main-container centered-content">
	
	<div class="osnovniMenu">
		<b><span id="prijavljen"></span></b>
		<nav>
		<ul id="prviMenu">
			<li><a href="{% url 'index' %}"> Domača stran </a></li>
			<li><a href="{% url 'registration' %}"> Registracija </a></li>
			<li><a href="{% url 'news' %}"> Novice </a></li>
			<li><a href="{% url 'addNew' %}"> Objava nove naprave </a></li>
			<li><a href="{% url 'forum' %}"> Forum </a></li>
		</ul>
		</nav>
		
		{% block find %}

		{% endblock %}
	</div>
	
	<br>
	
	<div class="glavnoOkno" id="mainOkno">
		{% block main %}
          
        {% endblock %}
	</div>
	
	</div>
	
	<footer>
      <div class="footer centered-content">
		<div class="footer-links">
		<a href="{% url 'index' %}"> Domača stran </a> |
        <a href="{% url 'news' %}"> Novice </a>
		</div>
	  </div>
    </footer>
	
	</body>
</html>