{% extends "webPage/base.html" %}
{% load i18n %}

{% block login %}
	<div class="prijavaUporabnika"><br>
		{% if user.is_authenticated %}

		{% else %}
		<form method="POST" action="">
			{% csrf_token %}
			{{ loginForm.as_table }}
			<input type="submit" name="prijava" value="Prijava" />
		</form>
		{% endif %}
	</div>
{% endblock %}

{% block find %}
<input type="text" id="search" onkeypress="search(this)">
<button id="searchButton" type="button" onclick="findItems()">Find</button>
{% endblock %}

{% block main %}
	{% for naprava in naprave %}
		{% include 'webPage/index_snippet.html' %}
	{% endfor %}
{% endblock %}