{% extends "webPage/base.html" %}

{% block main %}
	<h3 style="color:red; text-align:center">{{ naprava.imeNaprave }}</h3> 
	<form method="POST" action="#" style="margin:20px" enctype="multipart/form-data">
	{% csrf_token %}
	<label> Ime naprave: </label>
	<br>{{fillForm.imeNaprave}}<br>
	<label> Opis: </label> 
	<br>{{fillForm.opis}}<br>
	<label> Cena: </label> 
	{{fillForm.cena}} €<br>
	<label> Slike: </label> 
	<br>{{fillForm.picture}}<br>
	<label> Video: </label> 
	<br>{{fillForm.video}}<br>
	<br><input type="submit" name="edit" style="margin:20px; width:200px; height:50px" value="Shrani"/>
	</form>
{% endblock %}