{% extends "webPage/base.html" %}
{% load i18n %}

	{% block main %}
		{% if user.is_authenticated %}
		<form method="POST" action="{% url 'index' %}" class="objava" enctype="multipart/form-data">
			{% csrf_token %}
			<h2>{% blocktrans %} Vpis vsebine naprave {% endblocktrans %}</h2>
			<div>
				<label>{% blocktrans %}Ime naprave:{% endblocktrans %}</label> <br>
				{{ form.imeNaprave }} <br>
			</div>
			<div>	
				<label>{% blocktrans %}Opis:{% endblocktrans %}</label> <br>
				{{ form.opis }} <br>
			</div>
			<div>	
				<label>{% blocktrans %}Cena{% endblocktrans %}(€):</label> <br>
				{{ form.cena }} <br>
			</div>
			<div>	
				<label>{% blocktrans %}Dodajte fotografijo:{% endblocktrans %}</label> <br>
				{{ form.picture }} <br>
			</div>
			<div>	
				<label>{% blocktrans %}Dodajte video:{% endblocktrans %}</label> <br>
				{{ form.video }} <br>
			</div>
			<div>	
				<button type="submit" value="Prikaži" name="addNew" style="display: block;
					margin-left: auto;margin-right: auto;height:50px; width:200px">{% blocktrans %}Prikaži{% endblocktrans %}</button>
			</div>
		</form>
        {% else %}
			<p style="text-align:center">{% blocktrans %} Za dostop do te strani se je potrebno prijaviti.{% endblocktrans %}</p>
			<button style="margin-left:300px"><a href="{% url 'index' %}">{% blocktrans %}Prijava{% endblocktrans %}</a></button>
		{% endif %}
	{% endblock %}