{% extends "webPage/base.html" %}

	{% block main %}
		{% if user.is_authenticated %}
		<form method="POST" action="{% url 'index' %}" class="objava" enctype="multipart/form-data">
			{% csrf_token %}
			<h2> Vpis vsebine naprave </h2>
			<div>
				<label>Ime naprave:</label> <br>
				{{ form.imeNaprave }} <br>
			</div>
			<div>	
				<label>Opis:</label> <br>
				{{ form.opis }} <br>
			</div>
			<div>	
				<label>Cena(€):</label> <br>
				{{ form.cena }} <br>
			</div>
			<div>	
				<label>Dodajte fotografijo:</label> <br>
				{{ form.picture }} <br>
			</div>
			<div>	
				<label>Dodajte video:</label> <br>
				{{ form.video }} <br>
			</div>
			<div>	
				<button type="submit" value="Prikaži" name="addNew" style="display: block;
					margin-left: auto;margin-right: auto;height:50px; width:200px">Prikaži</button>
			</div>
		</form>
        {% else %}
			<p style="text-align:center"> Za dostop do te strani se je potrebno prijaviti.</p>
			<button style="margin-left:300px"><a href="{% url 'index' %}"> Prijava zgoraj</a></button>
		{% endif %}
	{% endblock %}