{% extends "webPage/base.html" %}

{% block main %}
	<div class="regForm">
		<form method="POST" action="{% url 'index' %}">
		 {% csrf_token %}
		 <table style="margin: 0 auto; padding-top: 10px;">
			<tr>
			 <td>Uporabniško ime:</td> <td>{{ form.username }}</td>
			</tr>
			<tr>
			 <td>Email:</td> <td>{{ form.email }}</td>
			</tr>
			<tr>
			 <td>Geslo:</td> <td>{{ form.password }}</td>
			</tr>
			<tr>
			 <td></td>
			 <td><label class="no-fixed-width"><input type="checkbox" required />Nisem robot</label></td>	
			</tr>
		   </table>
		<br><input type="submit" name="reg" value="Ustvari račun" style="display: block;margin-left: auto;margin-right: auto;height:50px; width:200px"><br>
		</form>
	</div>  
{% endblock %}